#body
{
    margin:0;
    padding:0;
}
#base
{
    width:960px;
    float:left;
    position:relative;
    background-color:white;
    left:15%;
	border-width:2px;
	border-color:black;
	border-style:solid;

}
.tiktaktu
{
    text-align:center;
    margin-left:20px;
    margin-right:20px;
    margin-top:50px;
}
.kotakGame{
    border-style:solid;
    border-color: black;
    border-width: 5px;
    background-color: white;
}
table
{
    margin-top:5px;
    margin-left: 10px;
}
#table td
{
    float:left;
    left:20%;
    border-collapse: collapse;
    border-width: 2px;
    border-color:black;
    border-style:solid;
    text-align: center;
}
#table tr
{
    border-collapse: collapse;
    border-width: 2px;
    border-color:black;
    border-style:solid;
    text-align: center;
}
#header
{
    height:200px;
    background-image:url("head.jpg");
    text-align:center;
    margin:0;
	border-width:2px;
	border-color:black;
	border-style:solid;
}
#header h1
{
    margin:0;
    font-family:Arial;
    font-size:48px;
    padding:60px;
}
#menu
{
    height:60px;
    background-image:url("white.jpg");
	border-width:2px;
	border-color:black;
	border-style:solid;

}
#menu ul
{
    margin:1%;
    position:relative;
    text-align: center;

}
#menu ul li
{
    list-style:none;
    float:left;
	padding : 0px;
    text-align: center;

}
#menu ul li a
{
    text-decoration:none;
    color:black;
    font-family:calibri;
    font-size:20px;
	float:left;
    padding:5px 159px;
    text-align: center;
}
#menu ul li a:hover
{
    background-image:url("gray.jpg");
    color:red;
    height:30px;
}
#menu ul li a:active
{
    background-image:url("lime.jpg");	
    color: white;
    height:30px;
}
#content
{
    width:960px;
}
#content_isi
{
    text-align: center;
    border:2px solid blue;
    border-radius:5%;
    float:right;
    left:5%;
}
#main_content
{
    width:750px;
    position:relative;
    float:left;
    left:0px;
    background-image:url("white.jpg");
    text-align:left;
}
#main_content h2
{
    font-size:24px;
    font-family:arial;
}

#main_content p
{
    margin:1px;
    font-family:cursive;
    text-align:center;
    word-wrap:break-word;
}
#main_content tr
{
    text-align:left;
}
#main_content table
{
    position:relative;
    margin:20px;
}
.photo
{
    float:right;
    margin-right:20px;
    box-shadow : 0px 0px 10px gray;
}
.kotak
{
    border-collapse:collapse;
    text-align: center;
}

.kotak td
{
    border:1px solid black;
    text-align:center;
    padding:5px 20px;

}
#gallery
{
    width:620px;
    margin:20px;
}
#gallery_content
{
    width:190px;
    margin:5px;
}
#right_content
{
    width:210px;
    margin:0;
    padding:0;
    float:left;
}
#footer
{
    width:960px;
    float:left;
    color:white;
    text-align:center;
}
