body{
	background-image:url(http://localhost/simoperta/assets/img/bg.jpg);
	background-size:100% auto;
	background-position:bottom;
	background-repeat:no-repeat;
	background-attachment:fixed;
	font-family: 'Open Sans', sans-serif;
}

.img-logo{
	width: 150px;
}

.user-info{
	color: white;
	margin: 5px;
}

.img-user{
	margin-left: 10px;
}

.monitor-map{
	background: green;
	width:700px;
	height:400px;
}

.isi{
	margin-top: 20px;
}

footer{
	text-align: center;
	background: #13156F;
    width: 100%;
    bottom: 0;
    height: 25px;  /* This value is the height of your footer */
}

header{
	background:#13156F;
	color: white
}

.right-top-nav{
	color: white;
}



.right-top-nav:hover{
	background: #2F4F8A;
	-webkit-transition: background-color 500ms ease;
     -moz-transition: background-color 500ms ease;
     -o-transition: background-color 500ms ease;
     -ms-transition: background-color 500ms ease;
     transition: background-color 500ms ease;
}

.right-top-nav .active{
	text-decoration: none;
}

.navbar-nav li{
	display:list-item;
}

.right-nav-item{
	width: 100px;
	height: 50px;
	background: none;
}

.right-nav-item:hover{

}

.tweet-form{
	margin-top: 60px;
}

.tweet-deck{
	margin-bottom: 40px;
}

.navbar-header{
	margin-bottom: 5px;
}

.info-click{
	background: yellow;
}

.notif{
	border: 1px solid #000;
	border-radius: 6px ;
	-moz-border-radius: 6px ;
	-webkit-border-radius: 6px ;
	width:215px;
	height:480px;
	margin-bottom: 40px;
}

.notif-title{
	margin : 8px;
	font-weight: bold;
	font-size: 14px;
}

.notif-item:hover{
	background: #FFFFFF;
	border: 0px solid black ;
	border-radius: 6px ;
	-moz-border-radius: 6px ;
	-webkit-border-radius: 6px ;
}

.notif-item{
	text-decoration: none;
	color: black;
	margin-bottom: 0px;
	border-top: 1px solid #000;
}

.notif-item ul{
	list-style-type: none;
	margin-left: 0px;
	margin-top:5px;
}

.notif-item-date{
	font-size: 10px;
	font-style: italic;
}

.img-notif{
	margin: 5px;
}

.notif-nav-icon{
	width:50px;

}

.notif-nav-icon:hover{
}

.notif-nav{
	margin-bottom: 10px;
}

/* ################PROFILE################## */

.profile-title{
	text-align: center;
	padding: 15px;
}

.user-info-category{
	font-weight: bold;
}

.img-user-gede{
}

#peta{
	border: 1px solid #000;
	border-radius: 6px ;
	-moz-border-radius: 6px ;
	-webkit-border-radius: 6px ;
	margin-bottom: 40px;
	z-index: 20;
	margin-top: 15px;
}

.tabel-data{
	border: 1px solid #000;
	border-radius: 6px ;
	-moz-border-radius: 6px ;
	-webkit-border-radius: 6px ;
	margin-bottom: 40px;
	z-index: 20;
	margin-top: 15px;
}

.inner-nav{
	margin-top: 15px;
	margin-bottom: 5px;
}

footer{
	color: #fff;
}